<div class="flex justify-center">
  <div
    class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg"
  >
    <div class="p-6 flex flex-col justify-start">
      <div class="flex flex-row w-full justify-end items-center">
        <h5 class="text-gray-900 text-xl font-medium mb-2 pr-4">Updated at</h5>
        <h5 class="text-gray-900 text-xl font-medium mb-2">Created at</h5>
      </div>
      <div class="text-gray-700 text-base w-full">
        Item.contentItem. Item.contentItem. Item.contentItem. Item.contentItem.
        Item.contentItem. Item.contentItem. Item.contentItem. Item.contentItem.
        Item.contentItem. Item.contentItem. Item.contentItem. Item.contentItem.
        Item.contentItem. Item.contentItem. Item.contentItem. Item.contentItem.
        ItemItemItem Item.contentItem. Item.contentItem.
      </div>

      <!--      Filters-->
      <div
        class="w-fit text-white bg-yellow-400 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:focus:ring-yellow-900"
      >
        Yellow
      </div>
    </div>
  </div>
</div>
